@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: white;
  font-family: "Inter", sans-serif;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  padding: 24px;
}
.content {
  display: flex;
  justify-content: center;
}
.left-column {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poke-photos {
  border: 1px solid black;
  width: 360px;
  height: 360px;
}
.poke-name {
  background-color: lightgray;
  width: 360px;
  margin-top: 16px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 5px;
}
.types-container {
  width: 360px;
  align-self: flex-start;
  margin-top: 16px;
  padding-left: 80px;
}
.types {
  font-weight: bold;
  margin-bottom: 16px;
}
.example-type {
  background-color: yellowgreen;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
}
.right-column {
  flex: 50%;
}
.buttons {
  margin-top: 32px;
}
.left-button {
  width: 96px;
  height: 40px;
  font-size: 32px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
}
.right-button {
  width: 96px;
  height: 40px;
  font-size: 32px;
  border: none;
  margin-left: 20px;
  border-radius: 5px;
  background-color: lightgray;
}
