@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: white;
  font-family: "Inter", sans-serif;
}
div {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 40px;
  font-weight: 700;
  padding-top: 24px;
}
